/*global css*/
@import "https://fonts.googleapis.com/css2?family=Poppins&display=swap";

body{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5f5;
}

#root {
  margin: 0;
  width: 100%;
}

