.nav{
    background-color: #3c3c3c;
}
 
.navigation-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navigation-item-left {
    float: left;
}

.navigation-item-right {
    float: right;
}

.navigation-link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation-link:hover {
    background-color: #ff0000;
    color: white;
    cursor: pointer;
}

.navigation-search-form {
    margin: 0px 20px 0px auto;
    padding: 0;
    overflow: hidden;
}

.navigation-search-input {
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 5px 10px 5px auto;
}

.navigation-search-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.navigation-search-button:hover {
    background-color: #22fa01;
}
  
