.clubs{
    color: black;
}
.header{
    position: relative;
}
.main-header-image{
    width: 100%;
    height: 500px;
    margin-bottom: 50px;
}

.card {
    flex-basis: 225px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 13px;
    padding-bottom: 20px;
    background-color: white;
}

.card--image {
    width: 100%;
    border-radius: 9px;
    margin-bottom: 9px;
}

