body {
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

h1 {
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 1rem;
}

input[type="text"] {
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0.5rem;
  margin-left: 1rem;
}

section#teams {
  background-color: #f2f2f2;
  padding: 1rem;
}

.teams-header {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.team-logos {
  display: flex;
  justify-content: space-between;
}

.team-logo {
  text-align: center;
  width: 20%;
}

.team-logo img {
  width: 100%;
}

.team-name {
  font-size: 1.2rem;
  margin-top: 1rem;
}

section#players {
  background-color: #333;
  color: white;
  padding: 1rem;
}

.popular-players {
  display: flex;
  justify-content: space-between;
}

.player-img {
  position: relative;
  width: 20%;
}

.player-img img {
  width: 100%;
}

.player-info {
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  color: white;
  display: none;
  position: absolute;
  width: 100%;
}

.player-img:hover .player-info {
  display: block;
}