.root {
  margin: 0;
  background-color: #f5f5f5;
}
.all-content{
  min-height: calc(100% - 20px);
  height: auto;
}
.meettheteamimage {
  width: 100%;
  margin-bottom: 50px;
}
.area {    
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.member {
  width: 200px;
  height: 300px;
  background-color: #fff;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}
.member h3 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 5px;
}
.member p {
  margin: 0;
  font-size: 1rem;
  color: #666;
}
.header {
  position: relative;
}
.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 48px;
  font-weight: bold;
}
.after-statement {
  text-align: justify;
  text-justify: inter-word;
  margin: 25px auto;
  max-width: 600px;
}
.afterstatement-text{
    font-size: 12px;
    color: #333;
}
